In [ ]:
! pip install numpy 
!pip install pandas

In [ ]:
!pip install sklearn

In [ ]:
!pip install seaborn

In [106]:
import numpy as np
import pandas as pd

In [107]:
from sklearn.datasets import load_breast_cancer
data = load_breast_cancer()

In [150]:
df = pd.DataFrame(np.c_[data.data, data.target], columns=[list(data.feature_names)+['target']])
df.tail()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0.0
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0.0
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0.0
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0.0
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1.0

In [109]:
X = df.iloc[:, 0:-1] # df.iloc[row,column]
y = df.iloc[:, -1]

In [110]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2020)

In [111]:
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (455, 30)
Shape of y_train =  (455,)
Shape of X_test =  (114, 30)
Shape of y_test =  (114,)

In [112]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)

0.9736842105263158

In [146]:
patient1 = [17.99,
 10.38,
 122.8,
 1001.0,
 0.1184,
 0.2776,
 0.3001,
 0.1471,
 0.2419,
 0.07871,
 1.095,
 0.9053,
 8.589,
 0,
 0.006399,
 0.04904,
 0.05373,
 0.01587,
 0.03003,
 0.006193,
 0.,
 17.33,
 184.6,
 2019.0,
 0.1622,
 0.6656,
 0.,
 0.2654,
 0.4601,
 0.1189]

In [147]:
patient1 = np.array([patient1])

In [148]:
patient1

array([[1.799e+01, 1.038e+01, 1.228e+02, 1.001e+03, 1.184e-01, 2.776e-01,
        3.001e-01, 1.471e-01, 2.419e-01, 7.871e-02, 1.095e+00, 9.053e-01,
        8.589e+00, 0.000e+00, 6.399e-03, 4.904e-02, 5.373e-02, 1.587e-02,
        3.003e-02, 6.193e-03, 0.000e+00, 1.733e+01, 1.846e+02, 2.019e+03,
        1.622e-01, 6.656e-01, 0.000e+00, 2.654e-01, 4.601e-01, 1.189e-01]])

In [149]:
classifier.predict(patient1)

array([0.])

In [136]:
data.target_names

array(['malignant', 'benign'], dtype='<U9')

In [137]:
pred = classifier.predict(patient1)
 
if pred[0] == 0:
  print('Patient has Cancer (malignant tumor)')
else:
  print('Patient has no Cancer (malignant benign)')

Patient has Cancer (malignant tumor)

# Practising

In [68]:

# Import pandas library
import pandas as pd
 
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14], ['binil',23],['saroj',20],['sushant',21],['sushan',22],['sudesh',22],['kushal',23],['bisesh',18]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])

In [69]:
df

      Name  Age
0      tom   10
1     nick   15
2     juli   14
3    binil   23
4    saroj   20
5  sushant   21
6   sushan   22
7   sudesh   22
8   kushal   23
9   bisesh   18

In [96]:
from sklearn.model_selection import train_test_split
x = df.iloc[:,:-1]
y = df.iloc[:,-1:]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.5,random_state=5)

In [97]:
x_test

      Name
9   bisesh
5  sushant
2     juli
4    saroj
7   sudesh

In [102]:
x_train.shape

(5, 1)